@charset "UTF-8";
h1  {
	font-size: 2.7em;
	font-family: league-gothic;
	font-style: normal;
	font-weight: 400;
	text-shadow: -4px 3px #FFFFFF;
}
h2 {
	font-family: bitter;
	font-style: normal;
	font-weight: 400;
	font-size: 1.2em;
}
nav {
	background-color: #222325;
	color: #FFFFFF;
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 40px;
}
footer {
	background-color: #222325;
	color: #FFFFFF;
	text-align: center;
	font-size: x-small;
	margin-top: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
	margin-left: 5%;
	padding-top: 5px;
	padding-bottom: 5px;
	clear: both;
}
body {
	font-family: source-sans-pro;
	font-style: normal;
	font-weight: 200;
	background-image: url(images/bkgdHome.jpg);
	background-size: cover;
	background-attachment: fixed;
}
.asideLeft {
	width: 35%;
	margin-left: 5%;
	margin-right: 2.5%;
	float: left;
}
.sectionRight {
	width: 50%;
	margin-left: 2.5%;
	margin-right: 5%;
	float: right;
	background-color: #FFFFFF;
}header {
	text-align: center;
}
a {
	color: #FF6400;
	text-decoration: none;
}
.navHome {
	font-family: bitter;
	font-style: normal;
	font-weight: 400;
	margin-left: 2%;
	margin-right: 2%;
	padding-top: 50px;
	background-image: url(images/navHome.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 0% 20px;
}
.navAbout {
	font-family: bitter;
	font-style: normal;
	font-weight: 400;
	margin-left: 2%;
	margin-right: 2%;
	padding-top: 50px;
	background-image: url(images/navAbout.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 0% 20px;
}
.navPort {
	font-family: bitter;
	font-style: normal;
	font-weight: 400;
	margin-left: 2%;
	margin-right: 2%;
	padding-top: 50px;
	background-image: url(images/navPort.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 0% 20px;
}
.navContact {
	font-family: bitter;
	font-style: normal;
	font-weight: 400;
	margin-left: 2%;
	margin-right: 2%;
	padding-top: 50px;
	background-image: url(images/navContact.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 0% 20px;
}